APP_NAME="Minha Aplicação"
ADMIN_EMAIL="admin@exemplo.com"

DATABASE_DEBUG=False
DATABASE_DRIVER='postgresql+psycopg'
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_USER=ricardo
DATABASE_PASSWORD=12345
DATABASE_NAME=database

DATABASE_POOL_SIZE=5
DATABASE_POOL_MAX_OVERFLOW=10
DATABASE_POOL_TIMEOUT=30
DATABASE_POOL_RECYCLE=3600

LOG_LEVEL='INFO'
LOG_FORMAT='%(asctime)s - %(name)s - %(levelname)s - %(message)s'
LOG_DATE_FORMAT='%Y-%m-%d %H:%M:%S'
LOG_LOG_TO_FILE=False
LOG_LOG_FILE_PATH=None
